.SignIn{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignIn__Container{
    height: 80vh;
    width: 60%;
    display: flex;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
}

/* Container Contenido */
.SignIn__Container__Contenido{
    width: 55%;
    background-image: url("https://cdn.vox-cdn.com/thumbor/CTEu-LzRxSsC8J0c03Ak94qOkbA=/0x0:2160x3840/1200x0/filters:focal(0x0:2160x3840):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/19917284/VRG_Wallpaper_iPhone_SE_alt.0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.205);
}

/* Container Formulario */
.SignIn__Container__Formulario{
    width: 45%;
    
}