.UserProfile{
    height: 100px;
    width: 90px;
    border: 1px solid black;
    position: absolute;
}

.UserProfile__Imagen{
    border-radius: 50px;
 
}


.UserProfile__OnClick{
    z-index: 1000;
    position: absolute;
    top: -0px;
    left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 320px;
    padding: 15px 0px 20px 0px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgba(71, 71, 71, 0.404);
}

.UserProfile__OnClick img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}