.UserProfile{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
}

.UserProfile__Imagen{
    border-radius: 50px;
 
}


.UserProfile__OnClick{
    z-index: 1000;
    position: absolute;
    top: -0px;
    left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 250px;
    padding: 15px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}

.UserProfile__OnClick img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}